.btn-primary {
  background-color: $brand-color;
  border: none;
  box-shadow: 0px 2px $brand-color-dark;
  margin: 0 8px;
  padding: .75em 1.5em;
  letter-spacing: 0.025em;
  transition: all 0.05s ease;
  &:hover,
  .btn-up:hover {
    background-color: $brand-color !important;
    box-shadow: 0px 0px $brand-color-dark;
    transform: translateY(2px);
  }
  &:active {
    background-color: $brand-color-dark !important;
  }
  &:visited {
    background-color: $brand-color !important;
  }
}

.btn-lg {
  margin: 0;
}
