.form-inline {
  margin-top: 2em;
}
.form-control {
  font-size: 1.5em;
  height: 2.25em;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #F36863;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.1);
  border-bottom-color: #B13931;
}
.newsletter input[type="email"] {
  margin: 0 1em;
}

.login-form {
  background-color: #fff;
  color: #414141;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
  .form-group {
    margin-bottom: 1.5em;
  }
  .forgot a {
    color: $gray-light;
    &:hover {
      color: $gray;
    }
  }
  .form-control:focus {
    box-shadow: none;
  }
  input[type="submit"] {
    width: 100%;
    margin-bottom: 1em;
  }
  &::-webkit-input-placeholder {
    color: rgba(0,0,0,.25) !important;
  }
}
