h1, h2, h3, h4 {
  font-family: Playfair Display, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 0 0.125em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
  border: none;
  color: $brand-color;
  transition: all .1s ease;
  &:hover {
    text-decoration: none;
    border: none;
    color: $brand-color-dark;
  }
}

ul {
  list-style: none;
  color: $gray;
  padding-left: 0;
}

p {
  color: $gray;
}

hr {
  border-top-color: #eee;
}
